// Uncomment to disable dingbat icons below posts
// hr.dingbat { display: none }

@keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.4; }
    60% { opacity: 0.6; }
    80% { opacity: 0.8; }
    100% { opacity: 1; }
  }
  
  .no-fouc {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    opacity: 0;
    // This line forces the browser to set the opacity to 1 after executing/finishing the animation
    opacity: 1;
  }